.join-us {
}
.container {
}
.join-us__content {
    padding: 0 30px;
}
.join-us__title {
    font-weight: bold;
    font-size: 36px;
    color: var(--white-color);
}
.form{
    margin-top: 60px;
    padding: 30px;
    width: 568px;
    background-color: var(--purple-color);
    border-radius: 16px;
}
.form div{
    display: flex;
    flex-direction: column;
}
.form div label{
    margin-bottom: 20px;
    font-size: 18px;
}
.form div input{
    margin-bottom: 40px;
    padding: 16px 20px;
    background-color: var(--white-color);
    border: 1px solid var(--dark-color);
    color: var(--dark-color);
}
.join-us__btn {
    align-self: self-start;
}

@media (max-width: 767px) {
    .join-us__content{
        max-width: 700px;
        align-items: start !important;
        margin-top: 15px;
    }
    .form{
        width: 100%;
    }
    .join-us__title{
        font-size: 28px;
    }
}

@media (max-width: 424px) {
    .join-us__content{
        padding: 0 15px;
    }
    .join-us__btn{
        align-self: stretch;
    }
    .form{
        margin-top: 30px;
        padding: 20px;
    }
    .form div label{
        margin-bottom: 10px;
        font-size: 16px;
    }
    .form div input{
        margin-bottom: 20px;
        padding: 12px 16px;
    }
}