.info {
}
.container {
}
.info__content {
    padding: 60px 30px;
    background-color: var(--green-color);
    border-radius: 16px;
}
.info__left {
}
.info__title {
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 20px;
}
.info__text {
    /* max-width: 500px; */
    font-size: 24px;
}
.info__text:last-of-type{
    margin-top: 36px;
}
.info__button {
    margin-top: 30px;
}
.info__right img{
    border-radius: 16px;
}

.__not-green{
    background-color: var(--dark-color);
}
.info__content.__not-green .info__title, .info__content.__not-green .info__text{
    color: var(--white-color);
}
.info__content.__not-green .info__left img{
    border-radius: 16px;
}