.menu {
}
.container {
}
.menu__content {
    margin-bottom: 60px;
}
.menu__sidebar {
    width: 400px;
    padding: 30px;
    background-color: var(--green-color);
    border-radius: 16px;
}
.menu__title {
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 20px;
}
.menu__list {
    padding-left: 0;
    margin-bottom: 0;
}
.menu__list-item a{
    display: block;
    color: var(--dark-color);
    font-size: 18px;
    padding: 40px 20px;
}
.__active-tab {
}
.menu__grid {
}
.menu__grid-item {
    width: 305px;
    min-height: 417px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-image: url(../imgs/discount-1.jpg);
    background-size: contain cover;
    background-position: -10px ;
    border-radius: 16px;
}
.menu__price{
    display: flex;
    gap: 10px;
    margin: 0px 20px;
}
.menu__price span{
    padding: 20px 15px;
    background-color: var(--dark-color);
    color: var(--white-color);
}
.menu__price svg{
    cursor: pointer;
}
.menu__info {
    margin: 20px;
    padding: 15px;
    background-color: var(--dark-color);
}
.menu__name{
    font-size: 18px;
    color: var(--white-color);
}
.menu__desc{
    font-size: 14px;
    color: var(--white-color);
}