.menu {
}
.container {
}
.menu__content {
    margin-bottom: 60px;
}
.menu__sidebar {
    width: 400px;
    padding: 30px;
    background-color: var(--green-color);
    border-radius: 16px;
}
.menu__title {
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 20px;
}
.menu__list {
    padding-left: 0;
    margin-bottom: 0;
}
.menu__list-item a{
    display: block;
    color: var(--dark-color);
    font-size: 18px;
    padding: 40px 20px;
    transition: .6s ease all;
}
.menu__list-item a:hover{
    background-color: var(--purple-color);
    transition: .6 ease all;
}
.__active-tab {
}
.menu__grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 60px 50px;
}
.menu__grid-item {
    width: 305px;
    min-height: 417px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-image: url(../imgs/discount-1.jpg);
    background-size: contain cover;
    background-position: -10px ;
    border-radius: 16px;
}
.menu__price{
    display: flex;
    gap: 10px;
    margin: 0px 20px;
}
.menu__price span{
    padding: 20px 15px;
    background-color: var(--dark-color);
    color: var(--white-color);
}
.menu__price svg{
    cursor: pointer;
}
.menu__info {
    margin: 20px;
    padding: 15px;
    background-color: var(--dark-color);
}
.menu__name{
    font-size: 18px;
    color: var(--white-color);
}
.menu__desc{
    font-size: 14px;
    color: var(--white-color);
}

@media (max-width: 1509px){
    .menu__content{
        justify-content: start !important;
        gap: 30px;
    }
    .menu__grid {
        grid-template-columns: repeat(2, min-content);
    }
}

@media (max-width: 1023px) {
    .menu__content{
        flex-direction: column;
    }
    .menu__sidebar{
        width: 100%;
    }
    .menu__nav{
        overflow-x: scroll;
    }
    .menu__list{
        width: 1400px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .menu__list-item a{
        padding: 20px 20px;
    }
    .menu__grid{
        gap: 30px;
    }
    .menu__grid-item{
        max-width: 400px;
    }
    .menu__grid-item img{
        width: 100%;
    }
}

@media (max-width: 767px){
    .menu__title{
        font-size: 28px;
    }
    .menu__grid-item{
        max-width: 280px;
        min-height: 360px;
        background-size: contain cover;
    }
}

@media (max-width: 699px) {
    .menu__grid{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 424px){
    .menu__sidebar{
        padding: 15px;
    }
    .menu__title{
        font-size: 24px;
        margin-bottom: 10px;
    }
    .menu__list-item a{
        font-size: 16px;
    }
    .menu__grid-item{
        max-width: 240px;
        min-height: 320px;
    }
}

@media (max-width: 374px) {
    .menu__title{
        font-size: 20px;
    }
}