.news {
}
.news__content {
    margin-top: 30px;
}
.news__title {
    font-weight: bold;
    font-size: 36px;
    color: var(--white-color);
    padding: 60px 30px;
}
.news__row {
    flex-wrap: wrap;
    gap: 50px;
}
.news__row-item {
    max-width: 367px;
}
.news__row-item img{
    border-radius: 20px;
    object-position: 1px;
}
.news__desc {
    margin-top: 20px;
    padding: 28px;
    background-color: var(--green-color);
    border-radius: 16px;
}

@media (max-width: 1264px) {
    .news__row{
        justify-content: start !important;
    }
}

@media (max-width: 847px) {
    .news__row-item{
        width: 320px;
    }
    .news__row-item img{
        width: 100%;
    }
}

@media (max-width: 767px) {
    .news__title{
        font-size: 28px;
        padding: 30px 15px;
    }
    .news__row{
        gap: 30px;
    }
    .news__row-item{
        width: 280px;
    }
    .news__row-item img{
        width: 100%;
    }
}

@media (max-width: 424px) {
    .news__title{
        font-size: 24px;
        padding: 15px 15px;
    }
    .news__desc{
        margin-top: 10px;
        padding: 15px;
    }
}

@media (max-width: 374px) {
    .news__title{
        font-size: 20px;
        padding: 15px 15px;
    }
}