@import "zero.css";
@import "header.css";
@import "hero.css";
@import "info.css";
@import "discount.css";
@import "news.css";
@import "footer.css";
@import "sitemap.css";
@import "menu.css";
@import "table.css";
@import "form.css";

:root {
  --green-color: #D1EF53;
  --dark-color: #1E1E1E;
  --purple-color: #B3A0CD;
  --white-color: #E9E3DC;
}

.container{
    max-width: 1540px;
    margin: 0 auto;
    padding: 0 30px;
}

.order-btn a{
    cursor: pointer;
    padding: 16px 60px;
    font-size: 18px;
    background-color: var(--purple-color);
}

.info-btn{
    cursor: pointer;
    font-size: 24px;
    padding: 16px 60px;
    background-color: var(--white-color);
    border: 4px solid var(--dark-color);
    box-shadow: 0px 0px 0px var(--dark-color);
    transition: .6s ease all;
}

.info-btn:hover{
    box-shadow: 8px 8px 0px var(--dark-color);
    transition: .6s ease all;
}

.info-btn a{
    color: var(--dark-color);
}

@media (max-width: 767px) {
    .info-btn{
        font-size: 18px;
        padding: 12px 20px;
    }
}

@media (max-width: 424px) {
    .info-btn{
        font-size: 16px;
        margin-bottom: 0;
        padding: 8px 16px;
        border: 2px solid var(--dark-color);
    }
    .info-btn:hover{
        box-shadow: 6px 6px 0px var(--dark-color);
    }
}

@media (max-width: 374px) {
    .info-btn{
        font-size: 14px;
        padding: 8px 16px;
    }
}

.form-btn {
    padding: 16px 80px;
    font-weight: bold;
    font-size: 18px;
    background-color: transparent;
    border: 1px solid var(--dark-color);
    border-radius: 16px;
}

.__active{
    padding: 15px;
    background-color: var(--green-color);
}

.__active a{
    color: var(--dark-color);
}

.__active-tab{
    font-size: 18px;
    background-color: var(--purple-color);
}

.__active-tab a{
    color: var(--dark-color);
}


*{
    font-family: "Sansation", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--dark-color);
}

.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--dark-color);
}

.main{
    flex: 1 1 auto;
}