@import "zero.css";
@import "header.css";
@import "hero.css";
@import "info.css";
@import "discount.css";
@import "news.css";
@import "footer.css";
@import "sitemap.css";

:root {
  --green-color: #D1EF53;
  --dark-color: #1E1E1E;
  --purple-color: #B3A0CD;
  --white-color: #E9E3DC;
}

.container{
    max-width: 1540px;
    margin: 0 auto;
    padding: 0 30px;
}

.order-btn {
    cursor: pointer;
    padding: 16px 60px;
    font-size: 18px;
    background-color: var(--purple-color);
}

.info-btn {
    cursor: pointer;
    padding: 16px 60px;
    font-size: 24px;
    background-color: var(--white-color);
    border: 4px solid var(--dark-color);
    box-shadow: 8px 8px 0px var(--dark-color);
}

.info-btn a{
    color: var(--dark-color);
}

*{
    font-family: "Sansation", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--dark-color);
}

.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--dark-color);
}

.main{
    flex: 1 1 auto;
}