.table {
}
.container {
}
.table__content {
    margin-top: 30px;
}
th{
    font-weight: bold;
}
th,td{
    padding: 15px;
    font-size: 18px;
    border: 1px solid var(--white-color);
    background-color: var(--dark-color);
    color: var(--white-color);
}

@media (max-width: 1023px) {
    th, td{
        padding: 12px;
        font-size: 14px;
    }
}
@media (max-width: 767px) {
    .table>:not(caption)>*>*{
        padding: 0px;
        background-color: transparent;
    }
    table{
        display: flex;
        overflow-x: scroll;
    }
    th, td{
        flex: 0 0 auto;
        padding: 10px;
    }
}